.tools {
    @extend %flex;
    flex-wrap: wrap;
    justify-content: center;

    &-item {
        @extend %flex;
        width: 100px;
        height: 100px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: relative;

        &:hover {
            svg {
                opacity: 1;
                color: $orange;
            }

            .tooltip {
                opacity: 1;
                visibility: visible;
            }
        }

        svg {
            font-size: 50px;
            opacity: 0.5;
            color: $black;
            transition: 0.3s;
        }
    }
}

.tooltip {
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 100px;
    min-width: 200px;
    top: 26px;
    z-index: 1;
    transition: 0.3s;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);

    &-title {
        padding: 10px 15px;
        background-color: $blue;
        color: $white;
        font-weight: 600;
        border-radius: 4px 4px 0 0;
    }

    &-content {
        padding: 15px;
        border-radius: 0 0 4px 4px;
        background-color: $white;
    }
}