.work {
    @extend %flex;
    flex-direction: column;

    img {
        width: 80%;
        text-align: center;
        margin: 50px auto;
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    }
}